.menu {
  flex-direction: column;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
}

.menu > *:not(:last-child) {
  margin-bottom: 5px;
}

.menu__item {
  width: 180px;
  height: 40px;

  border-radius: 15px;
  padding: 0 15px;

  line-height: 40px;
}

.menu__item:hover {
  background: rgba(245, 245, 245, 1);
}

.menu__item--danger {
  color: rgba(239, 35, 35, 1);
}

.menu__item--danger:hover {
  background: rgba(239, 35, 35, 0.05);
}

/* DARK MODE */

html.dark_mode .menu {
  background: #000;
}

html.dark_mode .menu__item:hover {
  background: rgba(48, 55, 87, 0.2);
}

html.dark_mode .menu__item--danger {
  color: rgba(239, 35, 35, 1);
}

html.dark_mode .menu__item--danger:hover {
  background: rgba(239, 35, 35, 0.075);
}
