.selector {
  position: relative;
}

.selector__options {
  position: relative;
  background: rgba(48, 55, 87, 0.04);
  border-radius: 20px;
  padding: 4px;
}

.selector__option {
  user-select: none;
  cursor: pointer;
  padding: 3px 14px;
  z-index: 10;
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
}

.selector__option--selected {
  opacity: 1;
}

.selector__option--element {
  padding: 0;
}

.selector__option:not(:last-child) {
  margin-right: 10px;
}

.selector__selected {
  position: absolute;
  top: 4px;
  bottom: 4px;
  z-index: 9;
  border-radius: 15px;
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05);
}

.selector--animating .selector__selected {
  transition: width .25s, left .25s;
}

.selector--animating .selector__option {
  transition: opacity .25s;
}

@media screen and (max-width: 700px) {
  .selector__option {
    font-size: 14px;
    height: 26px;
  }
  
  .selector__option:not(.selector__option--element) {
    padding: 1px 12px;
  }
}

/* DARK MODE */

html.dark_mode .selector__options {
  background: #006ea534;
}

html.dark_mode .selector__selected {
  background: var(--accent);
}
