.page--pools > h3 {
  margin-bottom: 10px;
}

.pools_list__item {
  align-items: center;
}

.pools_list_item__icon {
  display: block;
}

.pools_list_item__icon img:nth-child(1) {
  z-index: 10;
}

.pools_list_item__icon img:nth-child(2) {
  margin-left: -15px;
  z-index: 9;
}