.table {
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
}

.table__row {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.table__row:nth-child(1) {
  margin-bottom: 10px;
}

.table__col {
  align-items: center;
  justify-content: flex-end;
}

.table__col--right > .table__col {
  justify-content: flex-start;
  position: relative;
  display: inline;
  width: auto !important;
}

.table__col--right > .table__col::before {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: auto;
  margin-left: 7px;
}

.table__col.table__col--title {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  user-select: none;
  cursor: pointer;
}

.table__col.table__col--title::before {
  content: ' ';
  width: 11px;
  height: 8px;
  background: url('../../assets/icons/arrow.svg') no-repeat center;
  margin-right: 7px;
  opacity: 0;
  transition: opacity .1s;
}

.table__col:hover.table__col--title::before {
  opacity: 1;
}

.table__col.table__col--sorted::before {
  opacity: 1;
}

.table__col.table__col--sorted.table__col--reverse::before {
  transform: rotate(180deg);
}

.table__col.table__col--el {
  justify-content: flex-start;
}

@media screen and (max-width: 925px) {
  .table__col:not(.table__col--mobile) {
    display: none;
  }

  .table__col--mobile > .table__col {
    display: flex;
  }

  .table__col.table__col--mobile {
    flex: 1;
  }
}

.table__pages {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table_page__arrow {
  cursor: pointer;
}

.table_page__arrow.table_page__arrow--next svg {
  transform: rotate(180deg);
}

.table_page__arrow > svg path {
  fill: var(--accent);
}

.table_page__arrow.table_page__arrow--grey {
  opacity: 0.15;
  cursor: default;
}

.table_page__arrow.table_page__arrow--grey > svg path {
  fill: #000;
}

span.table__page {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 15px;
}