.App {
  width: 100%;
  max-width: 1000px;
  padding: 0 32px; 
  margin: 0 auto;
  height: 100%;
}

main {
  justify-content: center;
  margin-top: -80px;
  padding-top: 80px;
}

@media screen and (max-width: 700px) {
  main {
    margin-top: -80px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 465px) {
  .App {
    padding: 0 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
}