.App {
  flex-direction: column;
  width: 100%;
  max-width: 1050px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  height: 100%;
}

main {
  justify-content: center;
  margin-top: -65px;
  padding-top: 65px;
}

@media (prefers-reduced-motion: no-preference) {
}