:root {
  --accent: #0088CC;
  --accent-dark: rgba(48, 55, 87, 1);
  --danger: #F22222;
}

html, body, #root {
  height: 100%;
  overflow-x: hidden;
  min-width: 375px;
}

main {
  min-height: 100%;
}

.modal *:not(.no_flex):not(span):not(button),
.App *:not(.no_flex):not(span):not(h4):not(a) {
  display: flex;
}

body {
  background: #fff;
}

body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--accent-dark);
  font-weight: 600;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page {
  width: 100%;
  padding-top: 52px;
  flex-direction: column;
}

.page.page--centered {
  max-width: 400px;

  align-self: center;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: -142px;
}

.page.page--error {
  padding-top: 75px;
  align-items: center;
  flex-direction: column;
}

.page.page--error > .page__content {
  flex-direction: column;
  align-items: center;
}

.page.page--error > .page__content svg {
  margin-bottom: 50px;
  width: 100%;
  max-width: 400px;
}

.page.page--error .page_error__text {
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.page.page--error .page_error__text h2 {
  font-weight: 700;
}

.page.page--error .page_error__text h2 ~ p {
  opacity: 0.6;
}

.page.page--error .page_error__text p,
.page.page--error .page_error__text h2 {
  margin-bottom: 10px;
  text-align: center;
}

.page.page--error .page_error__text button {
  margin-top: 15px;
}

.card {
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  border-radius: 35px;
  padding: 14px 13px;
  gap: 10px;
  background: #fafafa;
}

.card.card--no-gap {
  gap: 0;
}

.card__title {
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 100%;
  margin-bottom: 15px;
}

.card__title h4 {
  line-height: 24px;
}

.card__title svg {
  cursor: pointer;
}

.card__title svg.cog {
  opacity: 0.2;
}

.card__title svg.cog:hover {
  opacity: 0.25;
}

.card__content {
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 25px;
  background: #fff;
}

.card__info {
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}

.card_info__prop {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card_info__prop span.card_info__title {
  opacity: 0.5;
}

.border_separator {
  border: solid 1px #F0F0F0;
}

.popup_shadow {
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
}

button {
  color: #fff;
  background: var(--accent);
  border-radius: 20px;

  flex-direction: row;
  align-items: center;
  padding: 8px 18.5px;

  border: none;
  
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  user-select: none;
  cursor: pointer;
  transition: .1s;
}

button.btn--danger {
  background: var(--danger);
}

button:hover {
  background: var(--accent-dark);
}

button.btn--secondary {
  background: none;
  border: solid 1px var(--accent);
  color: var(--accent);
}

button.btn--secondary.btn--danger {
  border-color: var(--danger);
  color: var(--danger);
}

button.btn--secondary:hover {
  background: rgba(0, 136, 204, 0.05);
}

button.btn--secondary.btn--danger:hover {
  background: #f2222205;
}

button.btn--disabled {
  cursor: not-allowed;
}

button.btn--static {
  transition: none;
}

button.btn--secondary.btn--unclickable {
  cursor: default;
}

button.btn--secondary.btn--unclickable,
button.btn--secondary.btn--disabled {
  background: transparent;
}

button.btn--trinary {
  background: transparent;
  color: var(--accent);
}

button.btn--trinary.btn--danger {
  color: var(--danger);
}

button.btn--trinary:hover {
  color: var(--accent-dark);
}

button.btn--inline {
  display: inline;
  padding: 0 5px;
  line-height: inherit;
  font-size: inherit;
}

.card__action_buttons {
  height: 50px;
}

.card__action_buttons--no-pool {
  margin-top: 15px;
}

.card__action_buttons button {
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card__action_buttons button span {
  color: currentColor;
}

.card__action_buttons button .loader__circle {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.link,
a {
  display: inline;
  color: var(--accent);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom-color: currentColor;
}

h3 {
  font-weight: 900;
  font-size: 45px;
  line-height: 56px;
  margin: 25px 0;
}

h4 {
  font-size: 24px;
}

.confirmation {
  flex-direction: column;
  transition: opacity .2s;
  width: 100%;
}

.confirmation--loading {
  opacity: 0.25;
  pointer-events: none;
}

.confirmation > *:not(:last-child) {
  margin-bottom: 20px;
}

.confirmation--swap svg {
  transform: rotate(-90deg);
  opacity: 0.25;
}

.confirmation h4 {
  display: block !important;
  width: 100%;

  text-align: center;
  font-size: 16px;

  margin-top: 5px;
  margin-bottom: 25px;
  opacity: 0.75;
}

.confirmation__details {
  flex-direction: column;
  background: rgb(250, 250, 250);
  padding: 20px 25px;
  border-radius: 25px;
  width: 100%;
}

.confirmation__details > *:not(:last-child) {
  margin-bottom: 10px;
}

.confirmation__field {
  display: flex;
  justify-content: space-between;
}

.confirmation__field span {
  line-height: 100%;
}

.confirmation__field span.confirmation_details__title {
  opacity: 0.5;
}

.confirmation__loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.confirmation__loading .loader__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appear linear .2s;
}

.loader__circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: loading .5s linear infinite;
  border: solid 2.5px var(--accent);
  border-bottom-color: transparent;
}

.loader__circle.loader__circle--big {
  width: 40px;
  height: 40px;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes appear {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@media screen and (max-width: 700px) {
  .page {
    padding: 0;
  }

  h3 {
    font-size: 24px;
    margin: 30px 0 5px;
  }
}

/* DARK MODE */

html.dark_mode:root {
  --accent: #006ea5;
  --danger: #ad1919;
}

html.dark_mode,
html.dark_mode body {
  background: #000;
}

html.dark_mode * {
  color: #ddedf5;
}

html.dark_mode a {
  color: var(--accent);
}

html.dark_mode .confirmation__details {
  background: rgb(18, 22, 42);
}

html.dark_mode path.logo_stroke {
  stroke: #ddedf5;
}

html.dark_mode .card {
  background: rgb(6, 7, 12);
}

html.dark_mode .card__title svg * {
  fill: #ffffff;
}

html.dark_mode .card__title svg.cog {
  opacity: 0.3;
}

html.dark_mode .card__title svg.cog:hover {
  opacity: 0.4;
}

html.dark_mode .card__title svg.cog * {
  fill: none;
  stroke: #fff;
}

html.dark_mode .card__content {
  background: rgb(21, 24, 39);
}

html.dark_mode .border_separator {
  border-color: rgb(22, 24, 43);
}

html.dark_mode button.btn--secondary,
html.dark_mode button.btn--trinary {
  color: var(--accent);
}

html.dark_mode button.btn--danger.btn--secondary,
html.dark_mode button.btn--danger.btn--trinary {
  color: var(--danger);
}

html.dark_mode button.btn--trinary:hover {
  color: #006ea5;
}
